@model Theke.Models.Waiter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Waiter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nicname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nicname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WaiterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
