@model System.Collections.Generic.IList<Theke.Models.ViewModels.BarTableViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Tischansicht</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@foreach (var item in Model)
{ 
    <p>
        <button type="button" onclick="">@item.TableName</button>
        
        @Html.DisplayNameFor(model => model.First().SeatAmount): 
        @Html.DisplayFor(modelItem => item.SeatAmount)
        
        @Html.DisplayNameFor(model => model.First().hasOpenPaymentStatus):
        @Html.DisplayFor(modelItem => item.hasOpenPaymentStatus)
       

    </p>


}




